.home-div{
  color: red;
}

.home-top{
  display: flex;
  justify-content:space-between;
  align-items: self-start;
  margin: 0 30px;
}

.homeLinks{
  display: flex;
  flex-direction: column;
  align-items: self-end;
}

.home-logo{
  max-width:100px;
  max-height:30px;
  width: auto;
  height: auto;
  margin: 0 10px;
}

.logo-div{
  display: flex;
  align-items:center;
}

.animation-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 20px;
}

.homeTitle{
  white-space: pre;
  text-align: center;
}